@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@500&display=swap");
.App,
.PlaylistPage,
.HomePage,
.AboutPage {
    text-align: center;
}

body {
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
    background: rgba(5, 10, 20, 1);
    background-image: linear-gradient(rgba(0, 35, 140, 1), rgba(0, 0, 0, 10));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 54px;
    color: #ff7060;
}

li {
    list-style-type: none;
}

nav {
    display: flex;
    justify-content: left;
    max-height: 5vh;
    background-color: #050505;

    margin-left: -20px;
    position: fixed;
    top: 0;
    width: 120%;
}

.nav-links {
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: bold;
}

.big-font {
    font-size: 140px;
    margin-left: 50px;
    margin-top: 50px;
    align-items: left;
    text-align: left;
}

.home-page,
.playlist-page {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.login-button {
    font-size: 30px;
    align-items: baseline;
    padding: 10px 10px;
    text-align: left;
    display: inline-block;
    padding: 0.5em 1em;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    margin: 0 0.3em 0.3em 0;
    background: linear-gradient(to right, #ff7060, #5c86ad) !important;
    transition: box-shadow 1s ease-out;
}

.login-button img {
    vertical-align: middle;
    margin-top: -3px;
}

.login-button:hover {
    box-shadow: 0px 0px 10px 1px #ff230a;
    background: linear-gradient(to right, #ff7565, #5c86bd) !important;
    /* FF9185 */
    cursor: pointer;
}

.spotify-logo-image {
    width: 100px;
    height: auto;
}

.playlist-info li {
    margin-left: -12%;
}

.navigation-link {
    color: white;
    margin-right: 5%;
    text-decoration: none;
}
