@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap");
.App,
.PlaylistPage {
    text-align: center;
}

body {
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
    background: rgba(5, 10, 20, 1);
    background-image: linear-gradient(rgba(0, 35, 140, 1), rgba(0, 0, 0, 10));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 54px;
    color: #ff7060;
}

li {
    list-style-type: none;
    margin: 10px 10px 10px -10px;
}

nav {
    display: flex;
    justify-content: left;
    align-items: center;
    max-height: 5vh;
    background-color: #000;
    color: white;
}

.nav-links {
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: bold;
}
